<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Huddled.PoshConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Huddled.PoshConsole.Properties.Settings>
            <setting name="ConsoleBlack" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="ConsoleBlue" serializeAs="String">
                <value>#FF0066FF</value>
            </setting>
            <setting name="ConsoleCyan" serializeAs="String">
                <value>#FF99CCFF</value>
            </setting>
            <setting name="ConsoleDarkBlue" serializeAs="String">
                <value>#FF003399</value>
            </setting>
            <setting name="ConsoleDarkCyan" serializeAs="String">
                <value>#FF006699</value>
            </setting>
            <setting name="ConsoleDarkGray" serializeAs="String">
                <value>#FF666666</value>
            </setting>
            <setting name="ConsoleDarkGreen" serializeAs="String">
                <value>#FF006633</value>
            </setting>
            <setting name="ConsoleDarkMagenta" serializeAs="String">
                <value>#FF800080</value>
            </setting>
            <setting name="ConsoleDarkRed" serializeAs="String">
                <value>#FF800000</value>
            </setting>
            <setting name="ConsoleDarkYellow" serializeAs="String">
                <value>#FFFF9900</value>
            </setting>
            <setting name="ConsoleGray" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="ConsoleGreen" serializeAs="String">
                <value>#FF66CC00</value>
            </setting>
            <setting name="ConsoleMagenta" serializeAs="String">
                <value>#FFFF1493</value>
            </setting>
            <setting name="ConsoleRed" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="ConsoleWhite" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ConsoleYellow" serializeAs="String">
                <value>#FFFFD700</value>
            </setting>
            <setting name="CopyOnMouseSelect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsoleDefaultForeground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ConsoleDefaultBackground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WindowStyle" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Animate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SnapToScreenEdge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapDistance" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BorderColorTopLeft" serializeAs="String">
                <value>#CC0C355B</value>
            </setting>
            <setting name="BorderColorBottomRight" serializeAs="String">
                <value>#FF104C85</value>
            </setting>
            <setting name="BorderThickness" serializeAs="String">
                <value>4,8,4,4</value>
            </setting>
        </Huddled.PoshConsole.Properties.Settings>
    </userSettings>
</configuration>