<?xml version="1.0"?>
<configuration>
   <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="PoshConsole.Properties.Colors" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
         <section name="PoshConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
   </configSections>
   <connectionStrings/>
   <userSettings>
      <PoshConsole.Properties.Colors>
         <setting name="DefaultForeground" serializeAs="String">
            <value>White</value>
         </setting>
         <setting name="DefaultBackground" serializeAs="String">
            <value>Black</value>
         </setting>
         <setting name="Black" serializeAs="String">
            <value>#FF000000</value>
         </setting>
         <setting name="Blue" serializeAs="String">
            <value>#FF0066FF</value>
         </setting>
         <setting name="Cyan" serializeAs="String">
            <value>#FF99CCFF</value>
         </setting>
         <setting name="DarkBlue" serializeAs="String">
            <value>#FF003399</value>
         </setting>
         <setting name="DarkCyan" serializeAs="String">
            <value>#FF006699</value>
         </setting>
         <setting name="DarkGray" serializeAs="String">
            <value>#FF666666</value>
         </setting>
         <setting name="DarkGreen" serializeAs="String">
            <value>#FF006633</value>
         </setting>
         <setting name="DarkMagenta" serializeAs="String">
            <value>#FF800080</value>
         </setting>
         <setting name="DarkRed" serializeAs="String">
            <value>#FF800000</value>
         </setting>
         <setting name="DarkYellow" serializeAs="String">
            <value>#FFFF9900</value>
         </setting>
         <setting name="Gray" serializeAs="String">
            <value>#FFCCCCCC</value>
         </setting>
         <setting name="Green" serializeAs="String">
            <value>#FF66CC00</value>
         </setting>
         <setting name="Magenta" serializeAs="String">
            <value>#FFFF1493</value>
         </setting>
         <setting name="Red" serializeAs="String">
            <value>#FFFF0000</value>
         </setting>
         <setting name="White" serializeAs="String">
            <value>#FFFFFFFF</value>
         </setting>
         <setting name="Yellow" serializeAs="String">
            <value>#FFFFD700</value>
         </setting>
         <setting name="DebugBackground" serializeAs="String">
            <value>#00FFFFFF</value>
         </setting>
         <setting name="DebugForeground" serializeAs="String">
            <value>#FFFFA900</value>
         </setting>
         <setting name="ErrorBackground" serializeAs="String">
            <value>#00FFFFFF</value>
         </setting>
         <setting name="ErrorForeground" serializeAs="String">
            <value>#FFFF0056</value>
         </setting>
         <setting name="VerboseBackground" serializeAs="String">
            <value>#00FFFFFF</value>
         </setting>
         <setting name="VerboseForeground" serializeAs="String">
            <value>#FF93FF29</value>
         </setting>
         <setting name="WarningBackground" serializeAs="String">
            <value>#00FFFFFF</value>
         </setting>
         <setting name="WarningForeground" serializeAs="String">
            <value>#FFFF7AA7</value>
         </setting>
         <setting name="NativeOutputForeground" serializeAs="String">
            <value>#FFFFFFFF</value>
         </setting>
         <setting name="NativeOutputBackground" serializeAs="String">
            <value>#22FFFFFF</value>
         </setting>
         <setting name="NativeErrorForeground" serializeAs="String">
            <value>#FFFF2771</value>
         </setting>
         <setting name="NativeErrorBackground" serializeAs="String">
            <value>#22FFFFFF</value>
         </setting>
      </PoshConsole.Properties.Colors>
      <PoshConsole.Properties.Settings>
         <setting name="CopyOnMouseSelect" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="ShowInTaskbar" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="WindowHeight" serializeAs="String">
            <value>300</value>
         </setting>
         <setting name="WindowLeft" serializeAs="String">
            <value>300</value>
         </setting>
         <setting name="WindowWidth" serializeAs="String">
            <value>700</value>
         </setting>
         <setting name="WindowTop" serializeAs="String">
            <value>100</value>
         </setting>
         <setting name="Animate" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="SnapToScreenEdge" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="SnapDistance" serializeAs="String">
            <value>20,20,20,20</value>
         </setting>
         <setting name="AlwaysOnTop" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="Opacity" serializeAs="String">
            <value>1</value>
         </setting>
         <setting name="AutoHide" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="StartupBanner" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="FontFamily" serializeAs="String">
            <value>Consolas, Bitstream Vera Sans Mono, Lucida Console</value>
         </setting>
         <setting name="FontSize" serializeAs="String">
            <value>12</value>
         </setting>
         <setting name="ScrollBarVisibility" serializeAs="String">
            <value>Visible</value>
         </setting>
         <setting name="StatusBar" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="HistoryMenuFilterDupes" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="TabCompleteMenuThreshold" serializeAs="String">
            <value>2</value>
         </setting>
         <setting name="TabCompleteDoubleTapMilliseconds" serializeAs="String">
            <value>250</value>
         </setting>
         <setting name="MaxBufferLines" serializeAs="String">
            <value>5000</value>
         </setting>
         <setting name="MaxBufferCommands" serializeAs="String">
            <value>25</value>
         </setting>
         <setting name="QuakeModeSize" serializeAs="String">
            <value>300</value>
         </setting>
         <setting name="FocusKey" serializeAs="String">
            <value>Win+C</value>
         </setting>
         <setting name="QuakeMode" serializeAs="String">
            <value>True</value>
         </setting>
      </PoshConsole.Properties.Settings>
   </userSettings>
   <startup>
      <supportedRuntime version="v4.0" />
      <supportedRuntime version="v2.0" />
      <process>
         <rollForward enabled="false" />
      </process>
   </startup>
   <runtime>
      <loadFromRemoteSources enabled="true"/>
   </runtime>
   <system.diagnostics>
      <switches>
         <add name="TabExpansionSwitch" value="Information" />
         <add name="TranscriptSwitch" value="1" />
      </switches>
      <sources>
         <source name="CommandTranscript" switchName="TranscriptSwitch" switchType="System.Diagnostics.BooleanSwitch">
            <listeners>
               <add name="TranscriptListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Transcript.log" />
               <remove name="Default"/>
            </listeners>
         </source>
         <source name="TabExpansion" switchName="TabExpansionSwitch" switchType="System.Diagnostics.SourceSwitch">
            <listeners>
               <add name="PoshCodeLogListener"/>
            </listeners>
         </source>
      </sources>
      <sharedListeners>
         <add name="PoshCodeLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="PoshCode.log">
            <!-- filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" -->
         </add>
      </sharedListeners>
   </system.diagnostics>
</configuration>
