<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PoshCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Huddled.WPF.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PoshCode.Properties.Settings>
            <setting name="FontFamily" serializeAs="String">
                <value>Consolas, Lucida Console</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="CopyOnMouseSelect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TabCompleteMenuThreshold" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TabCompleteDoubleTapMilliseconds" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="HistoryMenuFilterDupes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseCredentialUI" serializeAs="String">
                <value>True</value>
            </setting>
        </PoshCode.Properties.Settings>
        <Huddled.WPF.Controls.Properties.Settings>
            <setting name="FontFamily" serializeAs="String">
                <value>Consolas, Lucida Console</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="CopyOnMouseSelect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TabCompleteMenuThreshold" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TabCompleteDoubleTapMilliseconds" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="HistoryMenuFilterDupes" serializeAs="String">
                <value>True</value>
            </setting>
        </Huddled.WPF.Controls.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
